/* Header Section Style here */
header {
    background-image: url("../assets/hero-bg.png");
}

/* Navbar Section styles start here */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    width: 80%;
    margin: 0 auto;
    padding: 0 2px;
}

.logo {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
    letter-spacing: 3px;
}

.sign-up-btn {
    padding: 12px 30px;
    /* height: 40px; */
}

/* Banner Section style here */
.banner-section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-section-title {
    font-family: Raleway;
    font-size: 65px;
    font-weight: 700;
    margin-top: 160px;
    line-height: 85px;
}

span {
    margin-left: 100px;
}

.stay-focused-btn {
    margin-bottom: 170px;

}

main {
    background-color: #F5F8FF;
}

/* Action Section Style here */
.action-section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 120px 0;
}

.action-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.action-section-text>h2 {
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
    color: #252432;
    margin-bottom: 0;
}

.action-section-text>p {
    font-size: 24px;
    font-weight: 400;
    color: #25243280;
    font-family: Raleway;
    line-height: 33px;
}

.live-preview-btn {
    width: 50%;
}

.action-section-image>img {
    border-radius: 30px;
}

/* User Section start here */
.user-section {
    width: 80%;
    margin: 0 auto;
    background-color: #4E47FF1A;
    border-radius: 20px;
}

.user-section-title {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700px;
    text-align: center;
    color: #252432;
    padding-top: 40px;
}

.user-active-section {
    display: flex;
    justify-content: space-around;
}

.user-active-section>div>h2 {
    font-size: 80px;
    font-family: Inter;
    font-weight: 800;
    color: #4E47FF;
    margin: 25px 0 0 0;
}

.user-active-section>div>p {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 0 0 50px 0;
    color: #00000080;
}

/* Feedback Section style here */
.feedback-section {
    width: 80%;
    margin: 0 auto;
    padding: 120px 0;
}

.feedback-section-title {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700px;
    text-align: center;
    color: #252432;
}

.feedback-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    gap: 20px;
}

.feedback-card{
    /* border: 1px solid red; */
    font-family: Inter;
    color: #1E1E1E;
    background-color: #FFFFFF80;
    border-radius: 10px;
    padding: 25px;
}

.card-title{
    font-size: 24px;
    font-weight: 600px;
    margin-bottom: 0;
}

.card-text{
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 30px;
    line-height: 25px;
}

.feedback-reviewer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.feedback-reviewer > img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.reviewer-name{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 0 0;
}

.reviewer-date{
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

/*Button styles here  */

.btn {
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #4E47FF;
    font-family: Raleway;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 30px;
}

.btn:hover {
    color: #4E47FF;
    background-color: #c4bdbd;
}